.trainers-button {
    background: #f1c40f;
    border-radius: 40px;
    color: white;
    border: 0;
    transition: background 0.2s ease;    
}

.trainers-button:hover {
    background: #d3ab0e;
    transition: background 0.2s ease;
}

.trainers-button-blue {
    background: #3498db;
    border-radius: 40px;
    color: white;
    border: 0;
    transition: background 0.2s ease;    
}

.trainers-button-blue:hover {
    background: #2980b9;
    transition: background 0.2s ease;
}

.trainers_name:hover {
    text-decoration: underline;
    transition: text-decoration 0.2s ease;
}

.trainers_name {
    transition: text-decoration 0.2s ease;
    cursor: pointer;
}

.trainers-button-delete {
    background: #e74c3c;  
}

.trainers-button-delete:hover {
    background: #c0392b;
}