.types-button {
    background: #3498db;
    border-radius: 40px;
    color: white;
    border: 0;
    transition: background 0.2s ease;    
}

.types-button:hover {
    background: #2980b9;
    transition: background 0.2s ease;
}

.types-button-delete {
    background: #e74c3c;  
}

.types-button-delete:hover {
    background: #c0392b;
}